langgraph
langchain
langchain-core
langchain-groq

pydantic
python-dotenv

typing-extensions

fastapi
uvicorn

requests

reportlab
streamlit
geopy
pandas
plotly
folium
streamlit-folium
streamlit-lottie